@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>Nuevos cambios</p>
<p style="text-align:center">Prueba de conflictos</p>
<address>
    Servicios industriales automotrices Sociedad Anónima<br />
    Km 10 carretera vieja a León 250mts al Norte<br />
    <abbr title="Phone">P:</abbr>
    2222-2222
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>